node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
eas.json
android/
google-services.json
firebase-private-key.json
schema.sql
ios/

# macOS
.DS_Store
context/supabase.ts